<!--The content below is only a placeholder and can be replaced.-->
<div class="background">
<nav class="navbar fixed-top navbar-expand-lg" [style.background]="navIsFixed ? '#37474F':'transparent'">
  <a class="navbar-brand m-0" href="#">
    <img src="assets/images/Rangolee.jpeg" alt="Logo" style="width:190px;height:60px">
  </a>
  <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
  <div class="collapse navbar-collapse" id="navbar-collapse">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active ml-5">
        <a class="nav-link text-light" href="#home">Home</a>
      </li>
      <li class="nav-item ml-5">
        <a class="nav-link text-light" href="#about">About us</a>
      </li>
      <li class="nav-item ml-5">
        <a class="nav-link text-light" href="#menu">Menu</a>
      </li>
      <li class="nav-item ml-5">
        <a class="nav-link text-light" href="#contactus">Contact</a>
      </li>
      <li class="nav-item ml-5 pt-1 pb-1">
        <a type="button" class="btn btn-danger text-white" data-glf-cuid="ae72089d-0b49-45f6-9122-3a228bfd4f65" data-glf-ruid="08d25665-8dbb-4efb-b61c-340e03f50ba7">Order Online</a>
      </li>
      <li class="nav-item ml-5 pt-1 pb-1">
        <a type="button" class="btn bg-success text-white" data-glf-cuid="ae72089d-0b49-45f6-9122-3a228bfd4f65" data-glf-ruid="08d25665-8dbb-4efb-b61c-340e03f50ba7"
          data-glf-reservation="true">Table Reservation</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  <!-- routing here -->
  <div id="home">
    <app-home></app-home>
  </div>
  <div id="about">
    <app-about></app-about>
  </div>
  <div id="menu">
    <app-menu></app-menu>
  </div>
  <div id="contactus">
    <app-contactus></app-contactus>
  </div>
</div>

<!--Footer-->
<footer class="page-footer bg-dark text-white">

  <!--Footer Links-->
  <div class="container">

    <!-- Footer links -->
    <div class="row text-center ">


      <!--Third column-->
      <div class="col-md-3 mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">LOCATION</h6>
        <p>Preungeshiemer Str.1 60389 Frankfurt am Main</p>
      </div>


      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fa fa-envelope mr-3"></i> kontakt@rangolee.de</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +49-69-272-422-00 / +49-69-272-422-23</p>

      </div>

      <!--/.Third column-->



      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3 mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">OPENING HOURS</h6>
        <p>Monday-Sunday</p>
        <p>11:00am-2:30pm</p>
        <p>05:30pm-11:00pm</p>

      </div>
      <!--/.Fourth column-->
      <div class="col-md-3  mt-3">

        <iframe height="100%" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDXW6k2TegoELdky-4Q7ONw5xWebJeDJKE
                  &q=Preungesheimer+Str 1,Frankfurt+Germany" allowfullscreen>
        </iframe>
      </div>

    </div>
    <!-- Footer links -->

    <hr>

    <div class="row py-3 d-flex align-items-center">

      <!--Grid column-->
      <div class="col-md-8 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left grey-text">© 2018 Copyright Rangolee Authentic Indian Cuisine</p>
        <!--/.Copyright-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 ">

        <!--Social buttons-->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <!--/.Social buttons-->

      </div>
      <!--Grid column-->
      <!--Grid column-->

    </div>

  </div>

</footer>
</div>