<div>
  <div class="container">
    <h3 class="text-center" style="font-family: Tempus Sans ITC">Our Specialities</h3>
    <div class="row pt-5">
      <div class=" col-sm-3 card p-0">
        <img class="card-img" src="assets/images/food4.jpg">
      </div>
      <div class=" col-sm-1">
        </div>
      <div class=" col-sm-3 card p-0">
        <img class="card-img" src="assets/images/food3.jpg">
      </div>
      <div class=" col-sm-1">
        </div>
      <div class=" col-sm-3 card p-0">
        <img class="card-img" src="assets/images/food8.jpg">
      </div>
    </div>
    <div class="row pt-5">
        <div class=" col-md-5">
        </div>
        
    <!-- Button to Open the Modal -->
    <button type="button" class="col-md-1 btn btn-danger text-center" data-toggle="modal" data-target="#Menubtn">
        Menu
      </button>
      <div class=" col-md-5">
        </div>
        </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="modal fade" id="Menubtn" tabindex="-1" role="dialog" aria-labelledby="Menudisplay" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Menudisplay">Menu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="assets/images/menu1.jpg" width="470" height="550">
          <img src="assets/images/menu2.jpg" width="470" height="550">
          <img src="assets/images/menu3.jpg" width="470" height="550">
          <img src="assets/images/menu4.jpg" width="470" height="550">
          <img src="assets/images/menu5.jpg" width="470" height="550">
          <img src="assets/images/menu6.jpg" width="470" height="550">
          <img src="assets/images/menu7.jpg" width="470" height="550">
          <img src="assets/images/menu8.jpg" width="470" height="550">
          <img src="assets/images/menu9.jpg" width="470" height="550">
          <img src="assets/images/menu10.jpg" width="470" height="550">
          <img src="assets/images/menu11.jpg" width="470" height="550">
          <img src="assets/images/menu12.jpg" width="470" height="550">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>