<div style="margin-top:2pc">
    <h3 class="text-center" style="font-family: Tempus Sans ITC">About Us</h3>
  <div class="row pt-5">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <img  style="height:18pc;width:30pc"src="assets/images/food1.jpg">
    </div>
    <div class="col-sm-5" style="font-family: Book Antiqua;font-style: italic;font-size:0.20in;" >
        <p>
            We are a team of passionate lot, with great interest in food and catering. 
            With an experience of more than 20yrs in the restuarant and catering industry,
             We bring you the best authentic Indian food complimented with some of the best European wines.
        </p>
        <p>
            We welcome you for a treat in a cozy and comfortable enviornment with good food and service. 
            Please make sure you spread goodness about what you like and tell us what you didnt like, 
            we care for your better experience.
        </p>
      </div>
      <div class="col-sm-1"></div>
  </div>
</div>
<br>
<br>

<!-- <div class="row">
  
    <div class="col-sm-7" style="font-family: Book Antiqua;font-style: italic;font-size:0.25in;padding-left:2pc" >
      <h3></h3>
      <p>
        We would like to present to you the rich, authentic Indian food full of country's rich culinary tradition. Exquisite dishes
        made from recipes passed by generations by experienced professionals and household cooks.
      </p>
      <p>
        As Indians, we culturally have the highest regards for our guests ‘Athithi devo bhava’ translates to ‘Guests are forms of
        GOD’. At RANGOLEE, we value Hospitality and welcome you to our world of rich tradition in terms of colors, food,
        music made with love and care.
      </p>
    </div>
    <div class=" col-sm-5">
      <img src="assets/images/about.jpg">
        <h1>About Us</h1>
        </div>
    </div> -->