<div>

  <div class="row mx-auto" style="font-family: Book Antiqua;">
      <div class="col-lg-1"></div>
      <div class="col-12 col-md-12 col-lg-5">
        <img style="height:19pc;width:100%" src="assets/images/reserve.jpg">
      </div>
    <div class="col-12 col-md-12 col-lg-6">
      <div class="row ">
        <div class="col-12">
          <div>
            <div class="col-12 col-md-12">
              <h4 style="font-family: Tempus Sans ITC; text-decoration: underline; text-align:center">Contact Us</h4>
              </div>

            <div class="col-12 col-md-12">
              <form [formGroup]="form" (ngSubmit)="sendEmail()">
                <div class="row mt-4">
                  <label class="col-4 col-md-3" for="name">Full Name:</label>
                  <input class="col-8 col-md-8" type="text" name="name" placeholder="Enter your name" formControlName="name">
                </div>
                <div class="row mt-4">
                  <label class="col-4 col-md-3" for="email">Email Address:</label>
                  <input class="col-8 col-md-8" type="email" name="email" placeholder="youremail@mail.com" formControlName="email">
                </div>
                <div class="row mt-4">
                  <label class="col-4 col-md-3">Message:</label>
                  <textarea class="col-8 col-md-8" input type="text" rows="3" placeholder="write your message" name="message" formControlName="message"></textarea>
                </div>
                <br>
                <div class="text-center">
                  <button type="button" class="btn btn-dark" type="submit" [disabled]="form.invalid">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>